/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */

body {
  font-family: serif;
  font-size: 100%;
}

p {
  line-height: 1.5;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

small {
  font-size: 80%;
}

a {
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  text-rendering: optimizelegibility;
}

ul,
ol {
  padding: 0;
  margin: 0 0 0 1em;
}

ul ul,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 1.5;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ============================================================================================== */
/* Demo Styles - Do most of your work here.                                                       */
/* ============================================================================================== */

 SECTIONS  
 .section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

 COLUMN SETUP 
 .col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
 .col:first-child { 
  margin-left: 0; 
}


 GROUPING 
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; 
}


/*  GRID OF EIGHT   ============================================================================= */

  
.span_8_of_8 {
  width: 100%;
}

.span_7_of_8 {
  width: 87.3%; 
}

.span_6_of_8 {
  width: 74.6%; 
}

.span_5_of_8 {
  width: 61.9%; 
}

.span_4_of_8 {
  width: 49.2%; 
  /*margin: auto;*/ /*added*/
}

.span_3_of_8 {
  width: 36.5%;
}

.span_2_of_8 {
  width: 23.8%; 
}

.span_1_of_8 {
  width: 11.1%; 
}

/*font types and sizes==============================*/

p {
  font-size: 19px; /*16px*/
  margin-bottom: 1%;
  font-family: 'Cabin', 'sans-serif';
  color: #00001B;
}


/*  general styles   =================== */
body {
  padding: 1%;
}

a {
  text-decoration: none;
  color: #0F8FA6;
}

section {
  padding: 1%;
  /*margin: 0 auto;*/
}

img {
  display: block;
  margin: auto;
}

figcaption {
  text-align: center;
  font-family: 'Lato', 'sans-serif;
}

header {
 margin: 0 auto;
}

.table-of-contents {
  float: left;

}

.intro-para {
}

img {
  float: left;
}

/* images ===============================*/
.img1 { 
  /*width: 88%;*/
  
}

.img2 {/*drawing of woman*/
 /* width: 100%;*/
}

.img3 { /*northwind*/
/*  width: 100%;*/
}

.img4 { /*wisdom*/
/*  width: 100%;*/
}

.img5 { /*lapworth*/
  /*width: 75%;*/
}

.img6 { /*hotel seahorse*/
  /*width: 75%;*/
}

.img7 { /*gillsans*/
  /*width: 75%;*/
}

.img8 { /*plaque*/
  /*width: 85%;*/
}

/* Clearfix class =============================================================================== */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }





/*  GRID OF TEN media queries ==================================================================== */

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_8_of_8 {
    width: 100%; 
  }
  .span_7_of_8 {
    width: 100%; 
  }
  .span_6_of_8 {
    width: 100%; 
  }
  .span_5_of_8 {
    width: 100%; 
  }
  .span_4_of_8 {
    width: 100%; 
  }
  .span_3_of_8 {
    width: 100%; 
  }
  .span_2_of_8 {
    width: 100%; 
  }
  .span_1_of_8 {
    width: 100%; 
  }
}








