
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */

body {
  font-family: serif;
  font-size: 1em;
}

p {
  line-height: 1.5;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

small {
  font-size: 80%;
}

a {
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  text-rendering: optimizelegibility;
}

ul,
ol {
  padding: 0;
  margin: 0 0 0 1em;
}

ul ul,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 1.5;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ============================================================================================== */
/* Demo Styles - Do most of your work here.                                                       */
/* ============================================================================================== */

 SECTIONS  
 .section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

 COLUMN SETUP 
 .col {
  display: block;
  float:left;
  display: inline-block;
  /*margin: 1% 0 1% 1.6%;*/
}
 
 /*.col:first-child { 
  margin-left: 0; 
}*/


 GROUPING 
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; 
}


/*  GRID OF EIGHT   ============================================================================= */

  
.span_8_of_8 {
  width: 100%;
}

.span_7_of_8 {
  width: 87.3%; 
}

.span_6_of_8 {
  width: 74.6%; 
}

.span_5_of_8 {
  width: 61.9%; 
}

.span_4_of_8 {
  width: 49.2%; 
  /*margin: auto;*/ /*added*/
}

.span_3_of_8 {
  width: 36.5%;
}

.span_2_of_8 {
  width: 23.8%; 
}

.span_1_of_8 {
  width: 11.1%; 
}

/*font types and sizes==============================*/

p {
  font-size: 1.125em; 
  margin-bottom: 1%;
  color: #00001B;
  line-height: 1.7em;
}


p, li {
  font-family: 'Lato', 'sans-serif';
  color: #00001B;
}

.subsection p {
  margin-bottom: 3%;
}

h1 {
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 3.750em;
  color: #00001B;
}

cite {
  font-family: 'Cabin', 'sans-serif';
  font-size:  0.875em;
  color: #00001B;
}


h2 {
  font-family: 'Lato', 'serif';
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-family: 'Lato', 'serif';
  font-size: 1.250em;
  font-weight: 700;
  font-style: italic;
  padding-top: 2%;
}

/*  general styles   =================== */
* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  padding: 2%;
  width: 58em;
  margin: 0 20em; 
 
}

a {
  text-decoration: none;
  color: #0F8FA6;
}

li {
  list-style-type: circle;
}

section {
  padding-top: 2%;
}

img {
  display: block;
  margin: auto;
  height: auto;  
}


figcaption {
  font-family: 'Lato', 'sans-serif';
  font-weight: 300;
  text-align: center;
}

header {
 margin: 0 auto;
}

footer {
  display: inline-block;
}

/*  custom div styles   =================== */

.intro-text, 
.earlylife-text, 
.sculpture-text,
.hotel-text,
.typeface-text {
  display: inline-block;
}


.table-of-contents {
  /*background-color: #f0ecda;*/
  display: inline-block;
  position: fixed;
  top: 8em;
  right: -9em;
}

.offset-3 {
  display: inline-block;
  margin-left: 36.5%;
}

.section {
  padding-bottom: 2%;
}

.intro-text p:last-child {
  padding-top: 2%;
}

.typeface-text li:last-child {
  padding-bottom: 4%;
}

#published-writing li:last-child {
  padding-bottom: 2%;
}

/* images ===============================*/
.intro-image,
.four-images,
.seahorse,
.two-images  {
  display: inline-block;
  vertical-align: top;
}

.four-images {
  padding-top: 3%;
}


.four-images figure {
  margin-top: 14%;
  margin-right: 1%;
}

.seahorse {
  margin-top: 3%;
  margin-right: 1%;
  padding-top: 1%;
}

.two-images figure {
  margin-top: 12%;
  margin-right: 1%;
}


.seahorse figcaption,  .lapworth figcaption {
  width: 75%;
  position: relative;
  margin: auto
}


.img1,
.img5,
.img6 {
  width: 75%;
}

.img2,
.img3,
.img4 {
  width: 90%;
}

.img7 { 
  width: 80%;
}

.img8 { 
  width: 85%;
}

/* IMAGE KEY
  .img1 intro image 
  .img2 drawing of woman
  .img3 northwind
  .img4 wisdom
  .img5 lapworth
  .img6 hotel seahorse
  .img7 gillsans
  .img8 plaque*/

/* Clearfix class =============================================================================== */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }



/*  GRID OF EIGHT media queries ==================================================================== */


@media only screen and (max-width: 1660px) {
  .table-of-contents {
     display: inline-block;
     position: absolute;
     top: 30em;
     left: 25em;
  }
} /*end media query max 1660*/


@media only screen and (max-width: 1215px) {
  
  body {
    margin: 0 auto;
}

  .span_3_of_8 {
    width: 44.5%;
}
  
  .offset-3 {
    display: block;
    margin: 0 auto;
 }

  header {
    display: block;
    margin: 0 auto;
    text-align: center;
  }


 .intro-image {
    display: inline-block;
    position: relative;
    margin: 0 auto;
  }

  .table-of-contents {
     display: block;
     position: relative;
     top: 1em;
     left: 0em;
     width: 35%;
     padding: 3%;
     background-color: #f0ecda;
     margin: 4% auto;
  }     

  .intro-text, 
  .earlylife-text, 
  .sculpture-text,
  .hotel-text,
  .typeface-text,
  .personal-life,
  .subsection {
     display: block;
     margin: 0 auto;

}

  .intro-image,
  .four-images,
  .seahorse,
  .two-images {
    display: block;
    margin: 0 auto;
    padding: 4% 0;
  }

  footer {
    display: inline-block;
    width: 60%;
  }
*/
} /*end media query max 1215*/

@media only screen and (max-width: 850px) {
  body {
    margin: 0 auto;
    width: 45em;
  }

  .span_3_of_8 {
    width: 58%;
}


 .table-of-contents {
    width: 45%;
  }


  h1, 
  h2,
  h3 {

  }

} /*end media query max 850*/

@media only screen and (max-width: 575px) {
  body {
    margin: 0 auto;
    width: 32em;
  }

  .table-of-contents {
    width: 56%;
  }


  p {
    /*font-size: 14px;*/
  }
  
  li {
    /*font-size: 12px;*/
  }

} /*end media query max 850*/


@media only screen and (max-width: 430px) {
  body {
    margin: 0 auto;
    width: 28em;
  }

  .table-of-contents {
    width: 56%;
  }

   p {
    font-size: 1em;
  }
  
  li {
    /*font-size: 12px;*/
  }

} /*end media query max 850*/











